@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,700&display=swap');

#sandwich.wrapper {
    background: #f3f1e9;
    width: 100%;
}

.sandwich {
    background: #f3f1e9;
    width: 100%;
    margin: 0px auto;
}

.imgLogo {
    max-width: 50%;
    height: 6.5em;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}

    .imgLogo .img {
        z-index: 2;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url("/images/Vektor-Smartobjekt.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

.tetxSn {
    z-index: 3;
    position: absolute;
    width: 100%;
    bottom: -1em;
}

    .tetxSn h1, .tetxSn h5 {
        text-align: center;
    }

    .tetxSn h5 {
        color: burlywood;
    }
/*****************************************************************************/
.box-sandwich {
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    padding: 20px 0px;
}

.imgSn img, .img-box img, .img-box4 img {
    width: 100%;
    height: 100%;
}



.right-box {
    position: relative;
    z-index: 1;
}

    .left-box ul, .right-box ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

.img-box1, .img-box2, .img-box3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    margin: 20px auto;
}

.img-box1 {
    background-image: url("/images/img.png");
}

.img-box2 {
    background-image: url("/images/img1.png");
}

.img-box3 {
    background-image: url("/images/img2.png");
}

.items-box {
    padding: 0px 35px;
}

    .items-box h1 {
        font-family: 'Zilla Slab', serif;
        color: #a47d5e;
        text-align: center;
    }

    .items-box p {
        text-align: center;
    }


/*********************************************************************/

.img-box4 {
    position: absolute;
    top: calc(50% - 14em);
    right: 0;
    width: 65%;
    height: 28em;
    border: 10px solid white;
    box-sizing: border-box;
    background-image: url("/images/Ebene-11.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

#boxtime {
    top: -30px;
    right: 0;
    bottom: -30px;
    left: 75%;
    position: absolute;
    z-index: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px;
}


.items-textbox {
    width: 100%;
    height: 100%;
    background-color: rgba(241, 230, 225, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .items-textbox h1 {
        font-family: 'Zilla Slab', serif;
        font-size: 50px;
    }

    .items-textbox h4 {
        color: #a47d5e;
    }

    .items-textbox p {
        color: gray;
    }

#colortextH1 {
    color: #dfc691;
    font-size: 60px;
}

#imagelogo {
    background-size: cover;
    background-color: white;
    background-image: url("/images/Vektor.png");
    background-repeat: no-repeat;
    background-position: center;
}




#buttonBox {
    position: absolute;
    background-color: white;
    border: 1px dashed #dfc691;
    z-index: 3;
    top: 95%;
    left: -4%;
    padding: 15px 20px;
}

    #buttonBox h5 {
        color: #dfc691;
    }
