@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap%27');

#footter.wrapper {
    background-color: #f3f1e9;
    width: 100%;
}
 
.listfooter {
    display: flex;
    list-style: none;
}
.footer {
    display: flex;
    list-style: none;
    background: #f3f1e9;
    max-width: 1400px;
    margin: 0px auto;
}
.item-menu {
    padding: 15px 30px;
    font-family: 'Lora', serif;
}

.logofotter {
    color: gray;
    font-size: 70px;
    font-family: 'Allura', cursive;
}

.log {
    position: relative;
    top: -60px;
}

#logo {
    padding:  30px;
}
