@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,700&display=swap');
.sandwich {
    background: #f3f1e9;
 
}
.imgSn {
    width: 40%;
    height: 10%;
   
    margin: 0px auto;
}
    .imgSn img,.img-box img ,.img-box4 img{
        width: 100%;
        height: 100%;
    }

.tetxSn {
    position: absolute; 
    top: 170px;
    width: 25%;
    margin: 0px 110px;
}
    .tetxSn h5, .tetxSn h1 {
        position: absolute;
    }   .tetxSn h5{ top: 35px;
        left: 20px;
        color: burlywood;
    }

.left-box {
    width: 40%;
    position: relative;
    left: -50%;
}
.right-box{
    width:60%;
}
.box-sandwich{
    width:100%;
    display:flex;
}
.img-box1,.img-box2,.img-box3 {
    width: 100px;
    height: 100px;
    border-radius: 95px;
    background-size: cover;
    margin: 20px auto;
}
.img-box1 {
    background-image: url("/images/img.png");
}
.img-box2 {
    background-image: url("/images/img1.png");
}
.img-box3 {
    background-image: url("/images/img2.png");
}
.img-box4 {
    position: absolute;
    width: 50%;
    top: 300px;
    height: 70%;
    margin: 0px auto;
    border:10px solid white;
}
.left-box ul, .right-box ul {
    list-style: none;
}
.items-box{
    width:130%;
}
.items-box h1 {
    font-family: 'Zilla Slab', serif;
    color: #a47d5e;
    display: flex;
    justify-content: center;
}
.items-box p{
    text-align:center;
}
.right-box ul{
    position:relative;
}
.textbox {
    position: relative;
    left: 80px;
    top: 40px;
}
.items-textbox {
    width: 200px;
    height: 190px;
    background-color: rgba(241, 230, 225, 0.7);
}
.textbox h1 {
    position: relative;
    font-family: 'Zilla Slab', serif;
    font-size: 50px;
    margin: -10px;
}
.textbox h4 {
    position: relative;
    right: 60px;
    padding: 0px 52px;
    color: #a47d5e;
}
.textbox p{
    color:gray;
}
#imagelogo {
    background-size: cover;
    background-color: white;
    background-image: url("/images/Vektor.png");
}
#boxtime li {
    margin: -20px;
 
}
#boxtime {
    top:8%;
    left: 150%;
    position: relative;
}
#buttonBox {
    position: relative;
    background-color: white;
    border: 1px dashed #dfc691;
 
    left: -17px;
}
#buttonBox h5 {
    padding: 0px 15px 0px 15px;
    color: #dfc691;
}
#colortextH1 {
    color: #dfc691;
    font-size:60px;
}
#colortextH4{
    margin:20px -10px
}