@media only screen and (max-width: 992px) {
  .header-container {
    grid-template-columns: 0.5fr 1fr 0.5fr;
  }
  .header-container div.title {
    font-size: 28pt;
    letter-spacing: 0.2vw;
  }
  .header-container div.menu-bar div p {
    letter-spacing: 0.3vw;
    font-size: 8pt;
  }
  .header-container div.images div {
    width: 16px;
    height: 16px;
    margin: 0px 6px;
  }
}
@media only screen and (max-width: 768px) {
  .header-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr;
    height: 17.5vh;
  }
  .header-container div.title {
    font-size: 28pt;
    letter-spacing: 0.2vw;
    grid-row: 1;
  }
  .header-container div.menu-bar {
    grid-row: 2;
  }
  .header-container div.menu-bar div {
    margin: 0px 1vw 0px 1vw;
    letter-spacing: 0.3vw;
    font-size: 8pt;
  }
  .header-container div.menu-bar div.show-line {
    display: none;
  }
  .header-container div.images {
    grid-row: 3;
  }
  .header-container div.images div {
    width: 16px;
    height: 16px;
    margin: 0px 6px;
  }
}
