@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.header-container {
    display: grid;
    grid-template-columns: 0.75fr 1fr 0.5fr;
    height: 12.5vh;
    background: rgba(0, 0, 0, 10%);

    div.title {
        font-family: 'Allura', cursive;
        font-size: 40pt;
        letter-spacing: 0.2vw;
        margin: auto auto;
    }


    div.menu-bar {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            margin: 0px 1vw 0px 1vw;
            letter-spacing: 0.3vw;
            font-family: 'Lora', serif;
            font-size: 10pt;
        }
    }

    div.images {
        display: flex;
        justify-content: center;
        align-items: center;

        img { 
            width: 2vw;
            height: 3.5vh;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}
