@media only screen and (max-width: 992px) {
  .art_main {
    padding-right: 2.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .art_container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Inconsolata", monospace;
  }
  .art_main {
    padding-right: 0;
  }
  .images_block {
    padding: 3em 0;
    height: 50vh;
    margin: 0 1vw;
  }
}
