@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/art_of_cakes/art_of_cakes_style.css" />
    <link rel="stylesheet" href="~/css/art_of_cakes/art_of_cakes_media.css">
    <title>Art Of Cakes</title>
</head>

<body>
    <div class="art_container">
        <div class="art_main">
            <div class="title">Art of cakes</div>
            <div class="sub_title">WE CREATE DELICIOUS MEMORIES</div>
            <div class="desc">
                Quisque rutrum. Aenean imperdiet. Etiam ultricles nisl vel augue.<br> Curabitur
                ullamcorper ultricles nisl. Nam eget dul. Etiam rhoncus.<br> Maecenas tempus, tellus eget condimentum
                rhoncus, sem quam<br> semper libero, sit amet adipiscing sem neque sed.
            </div>
            <div class="chef_title">Chef Cook</div>
            <div class="chef_main">
                <div>Benito</div>
                <img src="images/art_of_cakes_images/chef.png" />
                <div>Gaspere</div>
            </div>
            <div class="chef_desc">
                <div>"</div>
                <div class="chef_desc_text">Unique creations for unique<br> occasions.</div>
                <div>"</div>
            </div>
        </div>
        <div class="images_block">
            <div class="art_images">
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (1).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (2).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (3).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (4).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
            </div>
            <div class="marka_block">
                <div class="marka"></div>
                <div class="text-marka">TASTES SO<br>GOOD!</div>
            </div>
        </div>
    </div>
</body>

</html>
