@{
    ViewData["Title"] = "Home Page";
}

    <div class="main-page">
        <div class="main-block">
            <div class="title">Pastry with love</div>
            <br>
            <br>
            <img class="dec" src="~/images/dashed line.png" />
            <br>
            <br>
            <div class="text">We’re bringing you fresh ingredients every day in ways you can’t resist.</div>
            <br>
            <br>
            <div class="button">
                OUR MENU
            </div>
        </div>


    </div>
