@page
@model Backery.Views.Home.Index1Model

@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debug Page</title>
    <link rel="stylesheet" href="~/css/debug.css">
</head>
<body>
    <h3>Products:</h3>
    @foreach (var x in ViewBag.Data)
    {
    var product = "id: "+x.id.ToString() +"   name: "+x.name+"   price: "+x.price.ToString();
    <p>@product</p>
    }
    <br>
    <h3>Reservations:</h3>
    @foreach (var x in ViewBag.Res)
    {
    var res = "id: "+x.id.ToString() +"   name: "+x.fullName+"   adress: "+x.fullAdress.ToString()+"   phone: "+x.phone.ToString();
    <p>@res</p>
    }
    <br><br>


    <form method="post" action="addReservation">
        Full Name: <input type="text" name="name"><br>
        Adress: <input type="text" name="adress"><br>
        Phone: <input type="text" name="phone"><br>
        Products: <input type="text" name="product"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>