@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/sandwich/Sandwich.css" />
<link rel="stylesheet" href="~/css/art_of_cakes/art_of_cakes_style.css" />
<link rel="stylesheet" href="~/css/art_of_cakes/art_of_cakes_media.css">

<div>
    <div class="art_container">
        <div class="art_main">
            <div class="title">Art of cakes</div>
            <div class="sub_title">WE CREATE DELICIOUS MEMORIES</div>
            <div class="desc">
                Quisque rutrum. Aenean imperdiet. Etiam ultricles nisl vel augue.<br> Curabitur
                ullamcorper ultricles nisl. Nam eget dul. Etiam rhoncus.<br> Maecenas tempus, tellus eget condimentum
                rhoncus, sem quam<br> semper libero, sit amet adipiscing sem neque sed.
            </div>
            <div class="chef_title">Chef Cook</div>
            <div class="chef_main">
                <div>Benito</div>
                <img src="images/art_of_cakes_images/chef.png" />
                <div>Gaspere</div>
            </div>
            <div class="chef_desc">
                <div>"</div>
                <div class="chef_desc_text">Unique creations for unique<br> occasions.</div>
                <div>"</div>
            </div>
        </div>
        <div class="images_block">
            <div class="art_images">
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (1).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (2).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (3).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (4).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
            </div>
            <div class="marka_block">
                <div class="marka"></div>
                <div class="text-marka">TASTES SO<br>GOOD!</div>
            </div>
        </div>
    </div>

    <div id="sandwich" class="wrapper">
        <div class="sandwich">

            <div class="imgLogo">
                <div class="img"></div>
                <div class="tetxSn">
                    <h1>The Jiboroto sandwwich</h1>
                    <h5>THE BEST SANDWICH YOU'VE EVER TASTED!</h5>
                </div>
            </div>

            <div class="box-sandwich">
                <div class="left-box">
                    <ul>
                        <li class="items-box">
                            <div class="img-box1"></div>
                            <h1>Class aptent</h1>
                            <p>Quot allenum persecuti ut e am nam ad atqul primis nusquam</p>
                        </li>
                        <li class="items-box">
                            <div class="img-box2"></div>
                            <h1>Nulla aget</h1>
                            <p>Nullam dictum felis eu pede mollis pretium Integer tincidunt</p>
                        </li>
                        <li class="items-box">
                            <div class="img-box3"></div>
                            <h1>Sed nibh purus</h1>
                            <p>Aenean eleifend tellus leo ligula, porttiltor eu , consequat vitae </p>
                        </li>
                    </ul>



                </div>
                <div class="right-box">
                    <div class="img-box4">
                        <ul id="boxtime">
                            <li>
                                <div class="items-textbox">

                                    <h4>PREP</h4>
                                    <h1>15</h1>
                                    <p>mins</p>

                                </div>
                            </li>
                            <li>
                                <div class="items-textbox">

                                    <h4>COOK</h4>
                                    <h1>30</h1>
                                    <p>mins</p>

                                </div>
                            </li>
                            <li>
                                <div id="imagelogo" class="items-textbox">

                                    <h4 id="colortextH4">READY IN</h4>
                                    <h1 id="colortextH1">50</h1>
                                    <p>mins</p>

                                </div>
                            </li>
                        </ul> <button id="buttonBox"><h5>FULL RECIPE</h5></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
