@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/art_of_cakes/art_of_cakes_style.css"/>
<link rel="stylesheet" href="~/css/art_of_cakes/art_of_cakes_media.css">

<div>

    <div class="art_container">
        <div class="art_main">
            <div class="title">Art of cakes</div>
            <div class="sub_title">WE CREATE DELICIOUS MEMORIES</div>
            <div class="desc">
                Quisque rutrum. Aenean imperdiet. Etiam ultricles nisl vel augue.<br> Curabitur
                ullamcorper ultricles nisl. Nam eget dul. Etiam rhoncus.<br> Maecenas tempus, tellus eget condimentum
                rhoncus, sem quam<br> semper libero, sit amet adipiscing sem neque sed.
            </div>
            <div class="chef_title">Chef Cook</div>
            <div class="chef_main">
                <div>Benito</div>
                <img src="images/art_of_cakes_images/chef.png" />
                <div>Gaspere</div>
            </div>
            <div class="chef_desc">
                <div>"</div>
                <div class="chef_desc_text">Unique creations for unique<br> occasions.</div>
                <div>"</div>
            </div>
        </div>
        <div class="images_block">
            <div class="art_images">
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (1).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (2).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (3).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="images"
                     style="background:url('images/art_of_cakes_images/art-img (4).png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
            </div>
            <div class="marka_block">
                <div class="marka"></div>
                <div class="text-marka">TASTES SO<br>GOOD!</div>
            </div>
        </div>
    </div>


</div>
