@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css//Sandwich.css" />
<link rel="stylesheet" href="~/css//media.css" />
<div id="sandwich" class="wrapper">
    <div class="sandwich">

     <div class="imgLogo">  <div class="img"></div> 
            <div class="tetxSn">
                <h1>The Jiboroto sandwwich</h1>
                <h5>THE BEST SANDWICH YOU'VE EVER TASTED!</h5>
            </div>
        </div>

        <div class="box-sandwich">
            <div class="left-box">
                <ul>
                    <li class="items-box">
                        <div class="img-box1"></div>
                        <h1>Class aptent</h1>
                        <p>Quot allenum persecuti ut e am nam ad atqul primis nusquam</p>
                    </li>
                    <li class="items-box">
                        <div class="img-box2"></div>
                        <h1>Nulla aget</h1>
                        <p>Nullam dictum felis eu pede mollis pretium Integer tincidunt</p>
                    </li>
                    <li class="items-box">
                        <div class="img-box3"></div>
                        <h1>Sed nibh purus</h1>
                        <p>Aenean eleifend tellus leo ligula, porttiltor eu , consequat vitae </p>
                    </li>
                </ul>



            </div>
            <div class="right-box">
                <div class="img-box4">
                <ul id="boxtime">
            <li>
                        <div class="items-textbox">
                         
                                <h4>PREP</h4>
                                <h1>15</h1>
                                <p>mins</p>
                          
                        </div>
                    </li>
                    <li>
                        <div class="items-textbox">
                     
                                <h4>COOK</h4>
                                <h1>30</h1>
                                <p>mins</p>
                      
                        </div>
                    </li>
                    <li>
                        <div id="imagelogo" class="items-textbox">
                           
                                <h4 id="colortextH4">READY IN</h4>
                                <h1 id="colortextH1">50</h1>
                                <p>mins</p>
                       
                        </div>
                    </li> 
                </ul> <button id="buttonBox"><h5>FULL RECIPE</h5></button>
                </div>
               

            </div>
        </div>
    </div>
</div>