@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/tastypankstyle.css">
    <link rel="stylesheet" href="/css/tastysladerstyle.css">
    <link rel="stylesheet" href="/css/styleMedia.css">


  


<div id="TastyPank" class="wrapper">
    <div class="tasty-pank">
        <div class="tasty-contein">
            <div class="tasty-box1">
                <div class="star-tasty">
                    <ul>
                        <li><img src="image/icons8-star-filled-24.png" /></li>
                        <li><img src="image/icons8-star-filled-24.png" /></li>
                        <li><img src="image/icons8-star-filled-24.png" /></li>
                        <li><img src="image/icons8-star-filled-24.png" /></li>
                        <li><img src="image/icons8-christmas-star-24.png" /></li>
                    </ul>
                </div>

            </div>
            <div class="tasty-box2">
                <div class="colo"><p>|||</p></div>
                <div class="img-tasty"></div>
                <div class="tetxTas">
                    <h1>Tasty pancakes</h1>
                    <h5>SEASON FAVOURITE</h5>
                    <p>
                        Maecerias nec odio et ante tincidunt tempus. Donec
                        vitae saplen ut libero venenatis faucibus. Nullam quis
                        ante. Etlam sit amet orci eget eros faucibus.
                    </p>
                </div>
                <div class="boxlist-tasty-wrapper">
                    <div class="boxlist-tasty">
                        <button><</button>
                        <ul class="list-tasty">
                            <li class="iteams-list-tasty"><div class="img1 slide"></div></li>
                            <li class="iteams-list-tasty"><div class="img2 slide"></div></li>
                            <li class="iteams-list-tasty"><div class="img3 slide"></div></li>
                            <!-- <li class="iteams-list-tasty"><div class="img4 slide"></div></li>
                            <li class="iteams-list-tasty"><div class="img5 slide"></div></li>
                        --> </ul><button>></button>
                     
                    </div>   
                </div>
                <div id="imagelogo" class="items-textbox">

                    <h4 id="colortextH4">READY IN</h4>
                    <h1 id="colortextH1">40</h1>
                    <p>mins</p>

                </div>
            </div>
        </div>
    </div>


</div>
