<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Backery</title>
    <link rel="stylesheet" href="~/css/header/header.css"/>
    <link rel="stylesheet" href="~/css/header/header_media.css"/>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="title">Gustaso</div>

            <div class="menu-bar">
                <div class="menu-bar-text"><p>WELCOME</p></div>
                <div class="show-line"><p>~</p></div>
                <div class="menu-bar-text"><p>MENU</p></div>
                <div class="show-line"><p>~</p></div>
                <div class="menu-bar-text"><p>RESERVATIONS</p></div>
                <div class="show-line"><p>~</p></div>
                <div class="menu-bar-text"><p>NEWS</p></div>
                <div class="show-line"><p>~</p></div>
                <div class="menu-bar-text"><p>CONTACT</p></div>
            </div>
            
            <div class="images">
                <div style="background:url('/images/header_images/logo - twitter.png'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                <div style="background:url('/images/header_images/logo - facebook.png'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                <div style="background:url('/images/header_images/logo - instagram.png'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div></div>
    </footer>
</body>
</html>
