<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Backery</title>
    <link rel="stylesheet" href="~/css//header_index.css" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="title">Gustaso</div>

            <div class="menu-bar">
                <div>WELCOME</div>
                <div>~</div>
                <div>MENU</div>
                <div>~</div>
                <div>RESERVATIONS</div>
                <div>~</div>
                <div>NEWS</div>
                <div>~</div>
                <div>CONTACT</div>
            </div>
            
            <div class="images">
                <img src="~/images/twitter.png" />
                <img src="~/images/facebook.png" />
                <img src="~/images/instagram.png" />
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<fotter>
    <ul  class="listfooter">
        <li>Z
         <div>  <hr class="linefotter" /> <ul class="listfooter">
               
        <li class="item-menu">OUR MENU</li>
        <li class="item-menu">~</li>
        <li class="item-menu">GALLERY</li>
        <li class="item-menu">~ </li>
        <li class="item-menu">CULTURE</li>
                
            </ul>
             <hr class="linefotter" />
              </div>  
        </li>
        <li id="logo"><div class="log"><h1 class="logofotter">Gustoso</h1></div></li>
        <li>
              <div>  <hr class="linefotter" /> <ul class="listfooter">
               
        <li class="item-menu">EVENTS</li>
        <li class="item-menu">~</li>
        <li class="item-menu">CATERING</li>
        <li class="item-menu">~</li>
        <li class="item-menu">VISITUS</li>
                
            </ul>
             <hr class="linefotter" />
              </div>  


        </li>      

    </ul>



</fotter>

</body>
</html>
