<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Backery</title>
    <link rel="stylesheet" href="~/css//style.css" />
    <link rel="stylesheet" href="~/css//header_index.css" />
    <link rel="stylesheet" href="~/css//footerstyle.css" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="title">Gustaso</div>

            <div class="menu-bar">
                <div class="menu-bar-text"><p>WELCOME</p></div>
                <div class="show-line"><p>~</p></div>
                <div class="menu-bar-text"><p>MENU</p></div>
                <div class="show-line"><p>~</p></div>
                <div class="menu-bar-text"><p>RESERVATIONS</p></div>
                <div class="show-line"><p>~</p></div>
                <div class="menu-bar-text"><p>NEWS</p></div>
                <div class="show-line"><p>~</p></div>
                <div class="menu-bar-text"><p>CONTACT</p></div>
            </div>

            <div class="images">
                <div style="background:url('/images/header_images/logo - twitter.png'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                <div style="background:url('/images/header_images/logo - facebook.png'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                <div style="background:url('/images/header_images/logo - instagram.png'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <fotter>
        <div id="footter" class="wrapper">
            <ul class="footer">
                <li>
                    <div>
                        <hr class="linefotter" /> <ul class="listfooter">

                            <li class="item-menu">OUR MENU</li>
                            <li class="item-menu">~</li>
                            <li class="item-menu">GALLERY</li>
                            <li class="item-menu">~ </li>
                            <li class="item-menu">CULTURE</li>

                        </ul>
                        <hr class="linefotter" />
                    </div>
                </li>
                <li id="logo"><div class="log"><h1 class="logofotter">Gustoso</h1></div></li>
                <li>
                    <div>
                        <hr class="linefotter" /> <ul class="listfooter">

                            <li class="item-menu">EVENTS</li>
                            <li class="item-menu">~</li>
                            <li class="item-menu">CATERING</li>
                            <li class="item-menu">~</li>
                            <li class="item-menu">VISITUS</li>

                        </ul>
                        <hr class="linefotter" />
                    </div>


                </li>

            </ul>

        </div>

    </fotter>

</body>
</html>
